<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Usuario</a>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa fa-fw fa-arrows-v"></i> Entretenimento
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">
                        <i class="icon-puzzle"></i>
                        Buttons
                    </a>
                </li>
                <li>
                    <a href="#">Filmes</a>
                </li>
                <li>
                    <a href="#">Séries</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> About</a>
        </li>
    </ul>
</div>